.modalButton {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  padding: 12px 24px;
}

/* Modal */
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  right: 0;
}

.modalContainer {
  width: 600px;
  height: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.75);
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  background-color: white;

  @media screen and (max-width: 420px) {
    margin-top: 50px;
    margin-left: 5vw;
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 40px;
  }
}

.closeBtn {
  position: fixed;
  color: rgb(228, 57, 57);
  top: 10px;
  right: 25px;
  font-size: 40px;
  @media screen and (max-width: 420px) {
    top: 10vh;
    right: 10vw;
  }
}

.closeBtn:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
}
.contentCharge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 30px;
  font-weight: 600;
}

.cash {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 10px;

  button {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  input {
    height: 30px;
  }
}

.table {
  display: flex;
  background: #495da7;
  width: 45px;
  height: 45px;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  margin-inline: 20px;
  margin-block: 40px;
  cursor: pointer;
  user-select: none;

  @media screen and (max-width: 420px) {
    margin-inline: 15px;
    margin-block: 20px;
  }
}

.table:hover {
  background: rgba(37, 37, 147, 0.919);
  cursor: pointer;
}

.cashier {
  width: 75px;
  height: 45px;
  background: rgba(24, 24, 117, 0.919);
  position: absolute;
  bottom: 40px;
  right: 90px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  user-select: none;
  @media screen and (max-width: 420px) {
    right: 20vw;
  }
}

.door {
  width: 75px;
  height: 15px;
  background: rgb(238, 188, 61);
  position: absolute;
  bottom: 40px;

  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  user-select: none;
  @media screen and (max-width: 420px) {
    right: 50vw;
  }
}

@media screen and (max-width: 500px) {
  .modalContainer {
    flex-direction: column;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100vh;
  }
  img {
    width: 100%;
    max-height: 70vh;
    object-fit: cover;
  }

  .heading {
    margin: 1rem;
  }
}

.priceOption {
  display: flex;
  gap: 15px;
  button {
    width: 110px;
    padding-block: 10px;
    font-size: 18px;
  }

  @media screen and (max-width: 420px) {
    flex-wrap: wrap;
    max-width: 240px;
  }
}
