#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.container {
  display: flex;
  padding-top: 30px;
  gap: 50px;
  padding-inline: 2vw;
  margin: 0 auto;

  @media screen and (max-width: 420px) {
    flex-direction: column-reverse;
    gap: 0;
  }
}
